In [14]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv('/Users/vivekkumarsingh/Desktop/Research Internship /Mitacs/Work/MITACS-Couplings/Codes/RankingsProblem/england-premier-league-matches-2018-to-2019-stats.csv')

In [16]:
data.columns

Index(['timestamp', 'date_GMT', 'status', 'attendance', 'home_team_name',
       'away_team_name', 'referee', 'Game Week', 'Pre-Match PPG (Home)',
       'Pre-Match PPG (Away)', 'home_ppg', 'away_ppg', 'home_team_goal_count',
       'away_team_goal_count', 'total_goal_count', 'total_goals_at_half_time',
       'home_team_goal_count_half_time', 'away_team_goal_count_half_time',
       'home_team_goal_timings', 'away_team_goal_timings',
       'home_team_corner_count', 'away_team_corner_count',
       'home_team_yellow_cards', 'home_team_red_cards',
       'away_team_yellow_cards', 'away_team_red_cards',
       'home_team_first_half_cards', 'home_team_second_half_cards',
       'away_team_first_half_cards', 'away_team_second_half_cards',
       'home_team_shots', 'away_team_shots', 'home_team_shots_on_target',
       'away_team_shots_on_target', 'home_team_shots_off_target',
       'away_team_shots_off_target', 'home_team_fouls', 'away_team_fouls',
       'home_team_possession', 'away_team_possession', 'team_a_xg',
       'team_b_xg', 'average_goals_per_match_pre_match',
       'btts_percentage_pre_match', 'over_15_percentage_pre_match',
       'over_25_percentage_pre_match', 'over_35_percentage_pre_match',
       'over_45_percentage_pre_match', 'over_15_HT_FHG_percentage_pre_match',
       'over_05_HT_FHG_percentage_pre_match',
       'over_15_2HG_percentage_pre_match', 'over_05_2HG_percentage_pre_match',
       'average_corners_per_match_pre_match',
       'average_cards_per_match_pre_match', 'odds_ft_home_team_win',
       'odds_ft_draw', 'odds_ft_away_team_win', 'odds_ft_over15',
       'odds_ft_over25', 'odds_ft_over35', 'odds_ft_over45', 'odds_btts_yes',
       'odds_btts_no', 'stadium_name'],
      dtype='object')

In [17]:
df = pd.DataFrame()
df['home'] = data['home_team_name']
df['away'] = data['away_team_name']
df['home_goal'] = data['home_team_goal_count']
df['away_goal'] = data['away_team_goal_count']

In [18]:
df.columns

Index(['home', 'away', 'home_goal', 'away_goal'], dtype='object')

In [19]:
df.loc[df['home_goal'] > df['away_goal'], 'win_or_lose'] = 1
df.loc[df['home_goal'] < df['away_goal'], 'win_or_lose'] = -1
df.loc[df['home_goal'] == df['away_goal'], 'win_or_lose'] = 0

In [20]:
teams = df['home'].unique()
teams

array(['Manchester United', 'Newcastle United', 'AFC Bournemouth',
       'Fulham', 'Huddersfield Town', 'Watford',
       'Wolverhampton Wanderers', 'Liverpool', 'Southampton', 'Arsenal',
       'Cardiff City', 'Everton', 'Leicester City', 'Tottenham Hotspur',
       'West Ham United', 'Chelsea', 'Burnley', 'Manchester City',
       'Brighton & Hove Albion', 'Crystal Palace'], dtype=object)

In [21]:
teams_dict = {}
for i in range(len(teams)):
	teams_dict[teams[i]] = i+1
teams_dict

{'Manchester United': 1,
 'Newcastle United': 2,
 'AFC Bournemouth': 3,
 'Fulham': 4,
 'Huddersfield Town': 5,
 'Watford': 6,
 'Wolverhampton Wanderers': 7,
 'Liverpool': 8,
 'Southampton': 9,
 'Arsenal': 10,
 'Cardiff City': 11,
 'Everton': 12,
 'Leicester City': 13,
 'Tottenham Hotspur': 14,
 'West Ham United': 15,
 'Chelsea': 16,
 'Burnley': 17,
 'Manchester City': 18,
 'Brighton & Hove Albion': 19,
 'Crystal Palace': 20}

18, 8, 16, 14, 10, 1, 7, 12, 13, 15, 6, 20, 2, 3, 17, 9, 19, 11, 4, 5

In [22]:
df.home = df.home.map(teams_dict)
df.away = df.away.map(teams_dict)

In [23]:
df.head(5)

   home  away  home_goal  away_goal  win_or_lose
0     1    13          2          1          1.0
1     2    14          1          2         -1.0
2     3    11          2          0          1.0
3     4    20          0          2         -1.0
4     5    16          0          3         -1.0

In [24]:
df = df.drop('home_goal', axis = 1)
df = df.drop('away_goal', axis = 1)

In [25]:
df = df[df.win_or_lose != 0]

In [28]:
df = df.dropna()

In [29]:
df.to_csv('epl1819.csv', index=False)

In [30]:
df

     home  away  win_or_lose
0       1    13          1.0
1       2    14         -1.0
2       3    11          1.0
3       4    20         -1.0
4       5    16         -1.0
..    ...   ...          ...
372    20     3          1.0
373     4     2         -1.0
375     8     7          1.0
376     1    11         -1.0
379     6    15         -1.0

[309 rows x 3 columns]