In [106]:
import pandas as pd
import numpy as np

In [107]:
import datetime

In [111]:
data = pd.read_csv('/Users/vivekkumarsingh/Desktop/Research Internship /Mitacs/Work/MITACS-Couplings/Codes/RankingsProblem/nba.games.stats 2.csv')

In [127]:
data.columns
data = data.drop('Unnamed: 1', axis = 1)
data.columns

Index(['team1', 'team2', 'WINorLOSS'], dtype='object')

In [113]:
data.loc[data['winner'] == data['team1'], 'WINorLOSS'] = 'W'
data.loc[data['winner'] == data['team2'], 'WINorLOSS'] = 'L'

In [114]:
data = data.drop('winner', axis = 1)

In [115]:
data['WINorLOSS'] = data['WINorLOSS'].map({ 'W': 1, 'L': -1 })

In [128]:
data.head(5)

                         team1                    team2  WINorLOSS
0               Mumbai Indians  Rising Pune Supergiants       -1.0
1             Delhi Daredevils    Kolkata Knight Riders       -1.0
2              Kings XI Punjab            Gujarat Lions       -1.0
3  Royal Challengers Bangalore      Sunrisers Hyderabad        1.0
4        Kolkata Knight Riders           Mumbai Indians       -1.0

In [129]:
data.columns

Index(['team1', 'team2', 'WINorLOSS'], dtype='object')

In [98]:
teams = data['team1'].unique()

In [130]:
teams

array(['Mumbai Indians', 'Delhi Daredevils', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Rising Pune Supergiants', 'Sunrisers Hyderabad', 'Gujarat Lions'],
      dtype=object)

In [100]:
teams_dict = {}
for i in range(len(teams)):
	teams_dict[teams[i]] = i+1
teams_dict

{'Mumbai Indians': 1,
 'Delhi Daredevils': 2,
 'Kings XI Punjab': 3,
 'Royal Challengers Bangalore': 4,
 'Kolkata Knight Riders': 5,
 'Rising Pune Supergiants': 6,
 'Sunrisers Hyderabad': 7,
 'Gujarat Lions': 8}

[1] 3 8 9 5 6 7 1 2 4

In [131]:
data.columns

Index(['team1', 'team2', 'WINorLOSS'], dtype='object')

In [132]:
data.team1 = data.team1.map(teams_dict)
data.team2 = data.team2.map(teams_dict)

In [135]:
data = data.dropna()

In [136]:
data.tail(5)

    team1  team2  WINorLOSS
51    7.0    2.0       -1.0
52    3.0    6.0       -1.0
53    1.0    8.0       -1.0
54    5.0    7.0        1.0
55    2.0    4.0       -1.0

In [137]:
data.to_csv('ipl_2016.csv', index=False)